.box {
  position: absolute;
  width: 413px;
  height: 432px;
  border-radius: 43.372px;
  background: #0E0E0E;
  z-index: 3;
}

.circle {
  position: absolute;
  width: 126px;
  height: 126px;
  border-radius: 50%;
  z-index: 4;
  object-fit: cover;
}
